<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/main.css")
    title DragDrop
  body
    .bricks
      p.bricks__text Перетащите кирпич
      p.bricks__text.bricks__text--count Осталось собрать 10 кирпича
      .bricks__droppable
      .bricks__pile
        #df
        .bricks__block
          .bricks__cont кирпич
    .building
  script(src="./js/app.js")
